In [1]:
import pandas as pd

In [39]:
df = pd.read_csv("../Oblig1/iris_subset.csv")
train = df.iloc[:12,]
test = df.iloc[12:,]
train.head(20)

    Unnamed: 0    0    1    2    3                4
0            0  4.4  3.2  1.3  0.2      Iris-setosa
1            1  4.9  3.1  1.5  0.1      Iris-setosa
2            2  4.6  3.2  1.4  0.2      Iris-setosa
3            3  4.4  2.9  1.4  0.2      Iris-setosa
4            4  6.0  2.7  5.1  1.6  Iris-versicolor
5            5  5.8  2.7  3.9  1.2  Iris-versicolor
6            6  6.1  2.9  4.7  1.4  Iris-versicolor
7            7  5.7  3.0  4.2  1.2  Iris-versicolor
8            8  6.7  2.5  5.8  1.8   Iris-virginica
9            9  6.8  3.2  5.9  2.3   Iris-virginica
10          10  6.8  3.0  5.5  2.1   Iris-virginica
11          11  6.3  3.4  5.6  2.4   Iris-virginica

Først leser vi inn dataene og delere dette opp i training og testing deler.

Ut i fra hvordan test dataene ser ut ser det ut som vi kan prøve dele opp

In [38]:
test.head(10)

    Unnamed: 0    0    1    2    3                4
12          12  4.6  3.2  1.4  0.2      Iris-setosa
13          13  5.1  2.5  3.0  1.1  Iris-versicolor
14          14  7.2  3.0  5.8  1.6   Iris-virginica