In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Oblig1/realestate.csv")
df.head(20)

,Unnamed: 0,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
5,5,6,2012.666667,7.1,2175.03000,3,24.96305,121.51254,32.1
6,6,7,2012.666667,34.5,623.47310,7,24.97933,121.53642,40.3
7,7,8,2013.416667,20.3,287.60250,6,24.98042,121.54228,46.7
8,8,9,2013.500000,31.7,5512.03800,1,24.95095,121.48458,18.8
9,9,10,2013.416667,17.9,1783.18000,3,24.96731,121.51486,22.1
10,10,11,2013.083333,34.8,405.21340,1,24.97349,121.53372,41.4
11,11,12,2013.333333,6.3,90.45606,9,24.97433,121.54310,58.1
12,12,13,2012.916667,13.0,492.23130,5,24.96515,121.53737,39.3
13,13,14,2012.666667,20.4,2469.64500,4,24.96108,121.51046,23.8
14,14,15,2013.500000,13.2,1164.83800,4,24.99156,121.53406,34.3
15,15,16,2013.583333,35.7,579.20830,2,24.98240,121.54619,50.5
16,16,17,2013.250000,0.0,292.99780,6,24.97744,121.54458,70.1
17,17,18,2012.750000,17.7,350.85150,1,24.97544,121.53119,37.4
18,18,19,2013.416667,16.9,368.13630,8,24.96750,121.54451,42.3
19,19,20,2012.666667,1.5,23.38284,7,24.96772,121.54102,47.7