In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, ConfusionMatrixDisplay

In [2]:
df = pd.read_csv('../workshop/heart_failure_clinical_records_dataset.csv')
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [5]:
trainval = df.groupby('DEATH_EVENT', group_keys=False)[df.columns].sample(frac=0.8)
test = df.drop(trainval.index)
train = trainval.groupby('DEATH_EVENT', group_keys=False)[trainval.columns].sample(frac=0.75)
val = trainval.drop(train.index)

print(train['DEATH_EVENT'].value_counts()/train.shape[0])
print(val['DEATH_EVENT'].value_counts()/val.shape[0])
print(test['DEATH_EVENT'].value_counts()/test.shape[0])

DEATH_EVENT
0    0.677778
1    0.322222
Name: count, dtype: float64
DEATH_EVENT
0    0.677966
1    0.322034
Name: count, dtype: float64
DEATH_EVENT
0    0.683333
1    0.316667
Name: count, dtype: float64

In [6]:
train_f = train.drop('DEATH_EVENT', axis=1)
train_ta = train['DEATH_EVENT']
val_f = val.drop('DEATH_EVENT', axis=1)
val_ta = val['DEATH_EVENT']
test_f = test.drop('DEATH_EVENT', axis=1)
test_ta = test['DEATH_EVENT']